.home-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

.home-loader-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-sub-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 40px;
}

.home-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 700;
  color: #1e293b;
}

.home-courses-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
